.favorites {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, .04);
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0 14px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 24vh;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 2px;
}

.list::-webkit-scrollbar-thumb {
  background: #41522E;
  height: 10px;
}

.list::-webkit-scrollbar-track {
  background: #E7E7E7;
}

.btns {
  display: flex;
  gap: 8px;
}

.imgDown {
  opacity: 0.3;
  transform: rotate(180deg);
}

.imgDownActive {
  opacity: 1;
}

.imgUpUnActive {
  opacity: 0.3;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Roboto;
  background: 0;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #41522E;
  color: #41522E;
}

.btnUnActive {
  opacity: .3;
}

.btnText {
  padding: 0 9px 0 0;
  margin: 0;
}

.imgs {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
}
